# Dependencies
node_modules/

# Build and Output
build/
android/app/build/
ios/build/
*.ipa
*.apk

# Environment Variables
.env
.env.local

# IDE/Editor and OS files
.idea/
.vscode/
.DS_Store
*.swp
# Expo
.expo/
__generated__/
web-build/

# Dependencies
/node_modules
# macOS
.DS_Store

# Misc
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.gradle/
build/
local.properties
.specify
.github